body {
  font-family: Arial, sans-serif;
  background: #0a4177;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.title {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background: rgba(90, 200, 198, 0.954);
  color: black;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin: 10px 0;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.p-title {
  color: #0a4177;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

input, textarea {
  width: 95%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  border: none;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.search {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.project {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .project {
    flex-direction: column;
    align-items: flex-start;
  }
}